.arrow_box {
  position: relative;
  background: white;
  height: 75px;
}
.arrow_box:after,
.arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: white;
  border-width: 10px;
  margin-top: -10px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #979797;
  border-width: 11px;
  margin-top: -11px;
}
.active {
  box-shadow: 0px 1px 8px 3px #888888;
}