* {
  box-sizing: border-box;
}

.ulClass:after {
  content: "";
  display: table;
  clear: both;
}

.ulClass {
  width: 200px;
  position: relative;
  list-style-type: none !important;
  margin-left: 48%;
  margin-top: -4%;
}

.liClass {
  width: 100px;
  height: 100px;
  position: relative;
  float: left;
  animation: rota 3s linear infinite;
  margin-bottom: -30%;
  margin-top: 11%;
  margin-left: -4%;
  margin-right: -10%;
}

.liClass:nth-child(1) {
  border-radius: 0 50% 50% 50%;
  background: rgba(253, 163, 66, 0.5);
  top: 15px;
  left: 15px;
  box-shadow: inset 0 0 15px #f8790e, 0 0 15px rgba(255, 255, 255, 0.2);
}

.liClass:nth-child(2) {
  border-radius: 50% 0 50% 50%;
  background: rgba(179, 248, 12, 0.5);
  right: 15px;
  top: 15px;
  box-shadow: inset 0 0 15px #f7b809, 0 0 15px rgba(255, 255, 255, 0.2);
}

.liClass:nth-child(3) {
  border-radius: 50% 50% 50% 0;
  background: rgba(253, 112, 191, 0.5);
  left: 15px;
  bottom: 15px;
  box-shadow: inset 0 0 15px #f7438a, 0 0 15px rgba(255, 255, 255, 0.2);
}

.liClass:nth-child(4) {
  border-radius: 50% 50% 0 50%;
  background: rgba(32, 205, 237, 0.5);
  right: 15px;
  bottom: 15px;
  box-shadow: inset 0 0 15px #0ca2ef, 0 0 15px rgba(255, 255, 255, 0.2);
}

@-moz-keyframes rota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rota {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#textContent {
  text-align: center;
  font-size: 16px;
  margin-top: 14%;
  color: black;
  margin-top: 5%;
  margin-left: 14%;
}